@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Raleway:wght@400;500;700&display=swap');

:root {
  --brango: #fff;
  --verde: #158b3e;
  --cinza: #292929;
  --cinza-escuro: #212121a1;
  --preto: #1d1d1d;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/*cabeçalho*/
.cabecalho__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cabecalho__background {
  background: --var(--preto);
  background: linear-gradient(302deg, var(--preto) 20%, var(--verde) 100%);
  width: 100vw;
  height: 15.6rem;
  z-index: 1;
}

.cabecalho__conteudo {
  width: 90%;
  height: 9.3rem;
  margin: 0 auto;
  display: flex;
  z-index: 5;
  margin-top: -7.5rem;
}

.cabecalho__cover {
  width: 9.3rem;
  height: 9.3rem;
  background: var(--preto);
}

.info {
  padding-left: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--preto);
}

h3 {
  font-size: 2rem;
}

h6 {
  font-size: 1rem;
}

/*controles*/
.controle__container {
  width: 100vw;
  height: 6.25rem;
  background: var(--preto);
  position: absolute;
  bottom: 0;
  display: flex;
}

.controle__imagem {
  width: 6.25rem;
  height: 6.25rem;
}

.botoes__container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.controle__botao {
  background: transparent;
  border: none;
  margin: 0 0.6rem;
}

.botao__icone {
  width: 1rem;
  height: 1rem;

}